@model CountriesMVC.Data.Objects.Country
@{
    ViewBag.Title = "Details";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Capitol</th>
                <th>Population</th>
            </tr>
        </thead>
        <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Name)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Capitol)<br />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.Population)<br />
                    </td>
                </tr>
        </tbody>
    </div>
</body>
</html>
